@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --headline-font: 'Amatic SC', sans-serif;
    --body-font: 'Arial', 'Helvetica', sans-serif;
}

img {
    max-width: 100%;
}

