:root {
  --font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #fff;
  font-family: var(--font-family);
  text-transform: uppercase;
  padding: 20px 0;
}

#form-container {
  margin: auto;
  width: 500px;
  height: 290px;
  position: relative;
}

#card-front,
#card-back {
  position: absolute;
  background-color: #ddd;
  width: 390px;
  height: 250px;
  border-radius: 6px;
  padding: 20px 30px 0;
  box-sizing: border-box;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #444;
}

#shadow {
  position: absolute;
  right: 0;
  width: 284px;
  height: 214px;
  top: 36px;
  background-color: #000;
  z-index: -1;
  border-radius: 8px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

#card-back {
  top: 40px;
  right: 0;
  z-index: -2;
}

#card-stripe {
  width: 92.5%;
  height: 55px;
  background-color: #444;
  position: absolute;
}

#image-container {
  width: 100%;
  position: relative;
  height: 55px;
  margin-bottom: 5px;
  line-height: 55px;
}

#card-image {
  float: right;
}

input {
  background-color: #fff;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 25px;
  color: #212121;
  font-size: 15px;
  letter-spacing: 0.7px;
  box-sizing: border-box;
}

input.invalid {
  border: 2px solid #eb0000;
}

label {
  display: block;
  margin-bottom: 3px;
}

#card-number,
#card-holder {
  width: 100%;
}

#cardholder-container {
  width: 60%;
  display: inline-block;
}

#exp-container {
  margin-left: 10px;
  width: 32%;
  display: inline-block;
}

#card-month {
  width: 45%;
}

#card-year {
  width: 45%;
  float: right;
}

#cvc-container {
  position: absolute;
  width: 110px;
  right: -115px;
  bottom: -10px;
}

#card-cvc {
  width: 60px;
}

#card-btn {
  background-color: #EFEFEF;
  color: black;
  position: absolute;
  bottom: -55px;
  right: 0;
  width: 100px;
  border-radius: 8px;
  height: 42px;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

#card-btn:hover {
  background-color: rgba(251, 251, 251, 1);
}
